.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn:hover {
  background: #F6F9FE;
}