.detail_item { 
  display: flex; 
  align-items: center;
  width: auto; 
  gap: 10px; 
  margin: 0; 
  padding: 10px; 
  border-radius: 10px;
  flex-shrink: 0; 
  white-space: nowrap;
  user-select: none;
  background: #F4F7FC;
}

@media (max-width: 840px) {
  .detail_item {
    min-width: 285px;
  }
}

@media (max-width: 690px) {
  .detail_item {
    min-width: 460px;
  }
}

@media (max-width: 520px) {
  .detail_item {
    min-width: 360px;
  }
}

@media (max-width: 420px) {
  .detail_item {
    min-width: 260px;
  }
}