.input {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #F4F7FC;
  color: #1b1b1b;
}

@media (max-width: 520px) {
  .input {
    width: auto;
  }
}

@media (max-width: 420px) {
  .input {
    width: auto;
  }
}