.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  background-color: #F6F9FE;
  color: #3c4043;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn:hover {
  background: #f1f1f1;
  color: #174ea6;
}