.SavedCitiesBlock_card {
  border: 1px solid #ccc;
  width: 300px;
  min-height: 300px;
  border-radius: 15px;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 15px;
}

.SavedCitiesBlock_card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.SavedCitiesBlock_card li {
  padding: 5px 15px;
  margin: 0px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  width: 260px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.del_btn {
  width: 25px;
  height: 25px;
  stroke: #fff;
}

.city_input {
  border: none;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  color: #4D65AC;
  background-color: #F4F7FC;
  width: 260px;
} 

@media (max-width: 1060px) {
  .SavedCitiesBlock_card {
    min-height: 300px;
    align-self: flex-start;
  }
}

@media (max-width: 760px) {
  .SavedCitiesBlock_card {
    min-height: 420px;
  }
}

@media (max-width: 660px) {
  .SavedCitiesBlock_card {
    width: 500px;
    min-height: 200px;
  }

  .SavedCitiesBlock_card li {
    width: 460px;
  }

  .city_input {
    width: 460px;
  }
}

@media (max-width: 520px) {
  .SavedCitiesBlock_card {
    width: 400px;
    min-height: 200px;
  }

  .SavedCitiesBlock_card li {
    width: 360px;
  }

  .city_input {
    width: 360px;
  }
}

@media (max-width: 420px) {
  .SavedCitiesBlock_card {
    width: 300px;
    min-height: 200px;
  }

  .SavedCitiesBlock_card li {
    width: 260px;
  }

  .city_input {
    width: 260px;
  }
}