.flexer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin: 50px auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 1235px) {
  .main {
    flex-direction: row;
    align-items: center;
    max-width: 500px;
  }
}

@media (max-width: 840px) {
  .flexer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px auto;
  }

  .main {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    max-width: 900px;
  }
}

@media (max-width: 690px) {
  .flexer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
