.details_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.details_card {
  /* border: 1px solid #ccc; */
  width: 725px;
  min-height: 80px;
  /* border-radius: 15px; */
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.detail_item { 
  display: flex; 
  align-items: center;
  width: auto; 
  gap: 10px; 
  margin: 0; 
  padding: 10px; 
  /* border: 1px solid #ccc;  */
  border-radius: 10px;
  flex-shrink: 0; 
  white-space: nowrap;
  user-select: none;
  background: #F6F9FE;
}

.scroll_button {
  color: rgb(0, 0, 0);
  font-size: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
}





@media (max-width: 1220px) {
  .details_card {
    width: 375px;
    flex-direction: row;
  }
}

@media (max-width: 840px) {
  .details_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 15px;
    width: 325px;
    height: 420px;
  }

  .details_card {
    width: 285px;
    height: 420px;
    flex-direction: column;
  }

  .detail_item {
    min-width: 285px;
  }

  .rotate_top {
    transform: rotate(-90deg);
  }

  .rotate_bot {
    transform: rotate(90deg);
  }
  
}

@media (max-width: 690px) {
  .details_wrapper {
    width: 500px;
  }

  .details_card {
    width: 500px;
    align-items: center;
  }

  .detail_item {
    min-width: 460px;
  }
}

@media (max-width: 520px) {
  .details_wrapper {
    width: 400px;
  }

  .details_card {
    width: 400px;
  }

  .detail_item {
    min-width: 360px;
  }
}

@media (max-width: 420px) {
  .details_wrapper {
    width: 300px;
  }

  .details_card {
    width: 300px;
  }

  .detail_item {
    min-width: 260px;
  }
}