.details_card {
  border: 1px solid #ccc;
  width: 325px;
  min-height: 300px;
  border-radius: 15px;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.details_card p {
  margin: 0;
  padding: 0;
}

@media (max-width: 1120px) {
  .details_card {
    width: 400px;
  }
}

@media (max-width: 760px) {
  .details_card {
    width: 325px;
  }
}

@media (max-width: 660px) {
  .details_card {
    width: 500px;
  }
}

@media (max-width: 520px) {
  .details_card {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .details_card {
    width: 300px;
  }
}