.SavedCities_card {
  border: 1px solid #ccc;
  width: 300px;
  min-height: 410px;
  border-radius: 15px;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 15px;
}

.saved_city__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.city_input {
  border: none;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  color: #4d65ac;
  background-color: #f4f7fc;
  width: 260px;
}

@media (max-width: 1220px) {
  .SavedCities_card {
    min-height: 300px;
    align-self: flex-start;
  }
}

@media (max-width: 840px) {
  .SavedCities_card {
    min-height: 420px;
    width: 325px;
  }
}

@media (max-width: 690px) {
  .SavedCities_card {
    width: 500px;
    min-height: 200px;
    margin: 0 auto;
  }

  .city_input {
    width: 460px;
  }
}

@media (max-width: 520px) {
  .SavedCities_card {
    width: 400px;
    min-height: 200px;
  }

  .city_input {
    width: 360px;
  }
}

@media (max-width: 420px) {
  .SavedCities_card {
    width: 300px;
    min-height: 200px;
  }

  .city_input {
    width: 260px;
  }
}